@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@import 'styles/_variables.scss';

html,
body {
    background-color: $light-grey !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400 !important;
}

* {
    font-family: $font-base;
    color: $dark-blue;
}

main {
    padding: 2em 4em;
}

input:focus,
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.quill {
    border: 2px solid $dark-blue;
    border-radius: 23px;

    .ql-toolbar {
        border-bottom: 2px solid $dark-blue !important;
        display: flex;
        align-items: stretch !important;
    }

    .ql-snow {
        border: none;
    }
}

.ql-snow .ql-color-picker .ql-picker-label,
.ql-snow .ql-icon-picker .ql-picker-label {
    padding: 0 4px;
}